@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.topnav {
    background-color: #EED658;
    overflow: hidden;
    position: relative;
    width: 100vw;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {

    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #F0F0F0;
    color: #EED658;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.intro{
    width: 70vw;
    margin: auto;
    padding-top: 3%;
    text-align: center;
    padding: 8%;
}
#avatar{
    border-radius: 50%;
    width: 20%;
    margin: auto;
    display: block;
    
}
.main{
    background-color: #EED658;
    margin-top: 80px;
    

}
.main .actual-text{
    padding: 50px;
}
#swift{
    width: 30%;
    display: block;
    margin: auto;
}
pre{
    background-color: #EEE;
    border-radius: 3px;
    font-size: 12px;
}
.info{
    margin-top: 80px;
    padding: 5%;
}